{% extends 'base.html' %}

<!-- load static -->
{% load static %}

<!-- the css -->
{% block link %}{% static 'detail.css' %}{% endblock link %}

<!-- the title -->
{% block title %}Detailed {{post.title}}{% endblock title %}

<!-- the content -->
{% block content %}
<h1>{{post.title}}</h1>
<h4>{{post.subtitle}}</h4>
<h5>
  Created by: <b><i>{{post.author}}</i></b>
</h5>
<h6>Created on: {{post.created_on}}</h6>
<p>{{post.body}}</p>
<a href="{% url 'edit' post.id %}" class="btn btn-primary">Edit</a>
<a href="{% url 'delete' post.id %}" class="btn btn-danger">Delete</a>
{% endblock content %}
